/* About Me section styling */
#about-me-section {
    align-items: center;
    background: var(--main-white);
    display: flex;
    flex-direction: column;
    height: 100vh;                            /* Takes up 100% of the viewport height */
    justify-content: center;
    width: 100%;
}

#about-me-section h2 {
    font-size: 3rem;
}

#about-me-section p {
    background: var(--main-white);
    font-size: 1.5625rem;
    font-style: italic;
    font-weight: 200;
    padding: 1.5rem;
    text-align: justify;
    width: 90%;
}

.photo {
    border: 0.125rem solid var(--main-black);
    border-radius: 6.2rem;
    display: none;
    height: 100%;
    opacity: 0.9;
    position: relative;
    /* top: 2.5rem; */
    width: 180px;
}

#contact-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 980px;
    margin-top: 2.5rem;
    width: 100%;
}
  
#contact-links a:hover {
    color: var(--main-white);
}
  
.contact-details {
    font-size: 1.5rem;
    transition: transform 0.3s ease-out;
}
  
.btn {
    color: var(--main-black);
    display: inline-block;
    padding: 0.625rem 1.25rem;
    text-decoration: none;
}
  
.btn:hover {
    background: #333333;
    border-radius: 2rem;
}

/* MEDIA QUERIES */
/****************************************************/ 
/* For large PHONES, TABLETS and larger devices - min-width 425px */
/****************************************************/ 
@media only screen and (min-width: 425px) {
    /* About Me section styling */
    #about-me-section p {
        font-size: 1.875rem;
    }
}
  
/***********************************************************/ 
/* For larger TABLETS and bigger devices - min-width 768px */
/***********************************************************/ 
@media only screen and (min-width: 768px) {
    /* About Me section styling */
    #about-me-section {
        background: url('../assets/images/bg1.jpg') no-repeat center center fixed;
        background-size: cover;
    }
    #about-me-section p {
        margin: 0 auto;
    }
    .photo {
        display: block;
    }

    .photo:hover {
        opacity: 0.85;
    }
}
  
/****************************************************/ 
/* For LAPTOPS and larger devices - min-width 992px */
/****************************************************/ 
@media only screen and (min-width: 992px) {
    /* About Me section styling */
    #about-me-section p {
        width: 60%;
    }
}
  
/*************************************/  
/* For DESKTOP PC - min-width 1200px */
/*************************************/ 
@media only screen and (min-width: 1200px) {
    /* About Me section styling */
    #about-me-section p {
        width: 50%;
    }
}