/* Setting up CSS variables in the root */
:root {
  --main-black: #000;
  --main-green: #1aa169;
  --main-green-gray: #457d70;
  --main-light-plum: #924577;
  --main-white: #ffffff;
}
  
/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* Box-sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Element styling */ 
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: var(--main-black);
  font-family: 'Poppins', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.4;
}

h1 {
  font-size: 3.125rem;
}

h2 {
  font-size: 2.625rem;
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
  
img {
  display: block;
}

  /* MEDIA QUERIES */
/****************************************************/ 
/* For large PHONES, TABLETS and larger devices - min-width 425px */
/****************************************************/ 
@media only screen and (min-width: 425px) {
  /* Element styling */
  h2 {
    font-size: 3rem;
  }
  /* Header section styling */
  #navbar {
    display: flex;
    justify-content: flex-end;
  }
  #nav-list {
    display: flex;
    margin-right: 1.25rem;
  }
  #nav-list li a {
    font-size: 1.375rem;
  }
  /* About Me section styling */
  #about-me-section p {
    font-size: 1.875rem;
  }
}

/***********************************************************/ 
/* For larger TABLETS and bigger devices - min-width 768px */
/***********************************************************/ 
@media only screen and (min-width: 768px) {
  /* Header section styling */
  #navbar {
    position: fixed;
  }
  #subtitle-text h3 {
    display: block;
  }
  /* About Me section styling */
  #about-me-section {
    background: url('../assets/images/bg1.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  #about-me-section p {
    margin: 0 auto;
  }
  .photo {
    display: block;
  }
  /* Contact Information section styling */
  #contact {
    height: 80vh;                             /* Takes up 80% of the viewport height */
  }
  #contact h2 {
    font-size: 3.75rem;
  }
}

/****************************************************/ 
/* For LAPTOPS and larger devices - min-width 992px */
/****************************************************/ 
@media only screen and (min-width: 992px) {
  /* Header section styling */
  #navbar {
    justify-content: space-between;
  }
  #navbar h1 {
    display: block;
  }
  /* About Me section styling */
  #about-me-section p {
    width: 60%;
  }
}

/*************************************/  
/* For DESKTOP PC - min-width 1200px */
/*************************************/ 
@media only screen and (min-width: 1200px) {
  /* About Me section styling */
  #about-me-section p {
    width: 50%;
  }
}