/* Setting up CSS variables in the root */
:root {
  --main-black: #000;
  --main-green: #1aa169;
  --main-green-gray: #457d70;
  --main-light-plum: #924577;
  --main-white: #ffffff;
}
  
/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* Box-sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Element styling */ 
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: var(--main-black);
  font-family: 'Poppins', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.4;
}

h1 {
  font-size: 3.125rem;
}

h2 {
  font-size: 2.625rem;
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
  
img {
  display: block;
}

/* MEDIA QUERIES */
/****************************************************/ 
/* For large PHONES, TABLETS and larger devices - min-width 425px */
/****************************************************/ 
@media only screen and (min-width: 425px) {
  /* Element styling */
  h2 {
      font-size: 3rem;
  }
}

